// Global variable overrides. Must be declared before importing Valo.

// Defines the plaintext font size, weight and family. Font size affects general component sizing.
//$v-font-size: 16px;
//$v-font-weight: 300;
//$v-font-family: "Open Sans", sans-serif;

// Defines the border used by all components.
//$v-border: 1px solid (v-shade 0.7);
//$v-border-radius: 4px;

// Affects the color of some component elements, e.g Button, Panel title, etc
//$v-background-color: hsl(210, 0%, 98%);
// Affects the color of content areas, e.g  Panel and Window content, TextField input etc
//$v-app-background-color: $v-background-color;

// Affects the visual appearance of all components
//$v-gradient: v-linear 8%;
//$v-bevel-depth: 30%;
//$v-shadow-opacity: 5%;

// Defines colors for indicating status (focus, success, failure)
//$v-focus-color: valo-focus-color(); // Calculates a suitable color automatically
//$v-friendly-color: #2c9720;
//$v-error-indicator-color: #ed473b;

// For more information, see: https://vaadin.com/book/-/page/themes.valo.html
// Example variants can be copy/pasted from https://vaadin.com/wiki/-/wiki/Main/Valo+Examples

@import "../valo/valo.scss";

@mixin designgui {
  @include valo;

  // Insert your own theme rules here
  
  .table-title {
  	color: rgb(25, 125, 255);
  	font-size: 26px;
  	font-family: Open Sans;
  	
  }
  
  .v-textfield-my-text{
   text-align:center !important;
 	}
  
  .table-padding {
  	padding-left: 10px;
  	padding-right: 10px;
  	padding-bottom: 10px;
  }
  
  .root-layout.navigation-template-vaadin {
	$root-background-color: #ffffff;
	$template-font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; 	
	
	$header-bar-background: #5AAAFA;
	$header-bar-font-size: 16px;
	$header-bar-text-color: #fff;
	
	$search-field-border: 0;
	$search-field-bevel: 0;
	$search-field-prompt-color: #fff;
	$search-field-border-color: $header-bar-text-color;
	$username-label-color: #fff;
	
	$side-bar-background: #000;
	$menu-button-selected-text-color: #1A1314;
	$menu-button-selected-background: $root-background-color;
	$menu-button-text-color: #fff;
	$menu-button-icon-color: #5AAAFA;
	
	
	background-color: $root-background-color;
	
	.header-bar .v-nativebutton,
	.side-bar .v-nativebutton {
		background: none;
		border: none;
		
		&:hover{
			cursor: pointer;
		}
	}

	.scroll-panel {
		background-color: $root-background-color;
        border: none;
        border-radius: 0;		
	}
				
	.header-bar {
		background-color: $header-bar-background;
		padding: 0px 15px 0 15px;
		vertical-align: middle;
		height: 65px;
		
		> * {
			color: $header-bar-text-color;
			float: right;
			padding: 0;
			line-height: 20px;
			margin-left: 15px;
			font-size: $header-bar-font-size;
			font-family: $template-font-family;
			
			/** Vertically center everything **/ 
			position: relative;
			top: 50%;
			-webkit-transform: translateY(-50%);
			-ms-transform: translateY(-50%);
			transform: translateY(-50%);
		}
		
		> .search-field {
			background: none;
			color: $search-field-prompt-color;
			padding-left: 5px;
			box-shadow: none;
			border: $search-field-border;
			border-bottom: solid 2px $search-field-border-color;
			border-radius: 0;
			font-style: italic;
		}
		
		.user-name-label {
		    color: $username-label-color;
		}
	}
		
	.side-bar {
		background-color: $side-bar-background;
		width: 100px;
		
		> .menu-button {
			position: relative;
			color: $menu-button-text-color;
			height: 90px;
			
			&.selected{
				background-color: $menu-button-selected-background; 
			
				.v-nativebutton-caption {
					color: $menu-button-selected-text-color;
				}
		
			}
			
			.v-nativebutton-caption {
				font-family: $template-font-family;				
				font-size: .7em;
				text-transform: uppercase;
				position: absolute;
				bottom: 8px;
				text-align: center;				
				left: 0;
				right: 0;
				margin-left: auto;
				margin-right: auto;
			}
			
			.v-icon {
				color: $menu-button-icon-color;
				position: absolute;
				font-size: 35px;
				margin-left: auto;
				margin-right: auto;
				top: 10px;
				left: 0;
				right: 0;
			}
		}
	}	
   
	.dashboard-layout {
		padding: 60px 60px 0 60px;
	}
    	
	&[width-range~="321px-768px"] {
		.dashboard-layout{
			padding: 10px;
		}
		
		.dashboard-item {
			width: 100% !important;
			min-width: 321px;
			margin: 0;
		}
	
		.side-bar {
			width: 60px;
			
			> .menu-button{
			
				height: 50px;
			
				> .v-nativebutton-caption{
					visibility: hidden;
				}
				
				> .v-icon{
					top: 0;
				}
			}
		}
		
		.header-bar {
			height: 45px;
			padding: 2px;	
		}
	}
}

.navigation-template-vaadin[width-range~="321px-768px"]{
	visibility: visible;
}

.dashboard-view.dashboard-view {
    padding: $view-padding;
    overflow: visible;

    .sparks {
      @include valo-panel-style;
      margin-bottom: round($view-padding / 3);

      @include width-range($max: 680px) {
        .spark {
          width: 50%;
        }
        .spark:nth-child(2n+1) {
          border-left: none;
        }
        .spark:nth-child(n+3) {
          border-top: valo-border($strength: 0.3);
        }
      }

      @include width-range($max: 270px) {
        .spark {
          width: 100%;
          border-left: none;
          border-top: valo-border($strength: 0.3);

          &:first-child {
            border-top: none;
          }
        }
      }
    }

    .spark {
      float: left;
      text-align: center;
      width: 25%;
      padding: $v-layout-spacing-vertical $v-layout-spacing-horizontal;
      border-left: valo-border($strength: 0.3);
      line-height: 1.35;

      > tbody {
        display: inline-block;
      }

      &:first-child {
        border-left: none;
      }
    }

    .dashboard-panel-toolbar {
      padding: 1px 0 1px round($v-unit-size / 1.8);
      height: $v-unit-size + 2px;
      position: absolute;
      top: 0;
      left: 0;
    }

    .dashboard-panels {
      display: block;
      height: 100%;
      margin: 0 round($view-padding / -3);

      .card {
        height: 100%;
        overflow: hidden;
        padding: $v-unit-size + 2px round($view-padding / 2) 0;
        position: relative;

        .v-table, .v-table-table {
          background: transparent;
        }
      }

      .top10-revenue {
        .card {
          padding-left: 0;
          padding-right: 0;
        }

        .v-table-table {
          @include box-shadow(none);
        }

        .v-table-cell-wrapper {
          padding-left: round($view-padding / 2);
          padding-right: round($view-padding / 2);
        }

        .v-table-cell-content {
          border-color: first-color(valo-border($strength: 0.3));
        }

        .v-table-cell-content-rowheader {
          color: valo-font-color($v-app-background-color, 0.4);

          .v-table-cell-wrapper {
            padding-right: 0;
          }
        }
      }

      .dashboard-panel-slot {
        padding: round($view-padding / 3);
        min-height: 220px;
      }

  	  &[width-range~="0-700px"] {
  	    .dashboard-panel-slot {
  	      width: 100% !important;
  	    }
  	  }

  	  &[width-range~="701px-"] {
  	    .dashboard-panel-slot {
  	      width: 50% !important;
  	    }
  	  }

      &[height-range~="0-440px"] {
  	    .dashboard-panel-slot {
  	      height: 100%;
  	    }
  	  }

  	  &[height-range~="441px-"] {
  	    .dashboard-panel-slot {
  	      height: 50%;
  	    }
  	  }

      .dashboard-panel-slot.max {
        width: 100% !important;
        height: 100%;
        padding-top: 0;
        padding-bottom: 0;
      }

      .notes {
        .card {
          padding: $v-unit-size + 2px 0 0;
        }

        .v-textarea {
          border-top: valo-border($strength: 0.5);
          padding: 20px 20px 0;
          line-height: 20px;
          font-size: 13px;
          background: #fffdf2 url(../img/notes-bg.png) repeat;
          background-attachment: local;
          color: #545145;
          overflow: auto;
        }
      }
    }

  }

  .dashboard-view {
    @include width-range($max: 480px) {
      padding-left: round($view-padding / 2);
      padding-right: round($view-padding / 2);
    }
  }

  .notifications.v-window {
    overflow: visible !important;
    // top: 3 * $v-unit-size !important;
    right: $view-padding;
    left: auto !important;
    max-width: 90%;

    $window-outline: $v-overlay-shadow;
    @if list-of-lists($window-outline) {
      $window-outline: last($v-overlay-shadow);
    }
    $window-outline: flatten-list(valo-bevel-and-shadow($bevel: null, $shadow: $window-outline));
    $outline-width: nth($window-outline, length($window-outline) - 1);
    $outline-color: last($window-outline);

    @include transform-origin(296px - (2 * $v-unit-size - round($v-unit-size / 3)) -7px);

    &.v-window-animate-in {
      @include animation(animate-in-scale-up 260ms cubic-bezier(.68,.37,.51,1.37));
    }

    &:before,
    &:after {
      content: "";
      position: absolute;
      top: -14px;
      right: 2 * $v-unit-size - round($v-unit-size / 3);
      border: 7px solid transparent;
      width: 0;
      height: 0;
      border-bottom-color: $v-window-background-color;
    }


    &:before {
      @if type-of($outline-width) == number and $outline-width > 0 {
        top: -15px - 2 * $outline-width;
        margin-right: -$outline-width;
        border-width: 7px + $outline-width;
        border-bottom-width: 8px;
        border-bottom-color: $outline-color;
      } @else {
        content: none;
      }
    }

    .v-window-header {
      color: $v-selection-color;
    }

    .v-window-outerheader:after,
    .v-scrollable:before {
      display: none;
    }

    .notification-item {
      font-size: round($v-font-size * 0.9);
    }

    .notification-title {
      font-weight: $v-font-weight + 200;
    }

    .notification-time {
      font-size: round($v-font-size * 0.8);
      color: valo-font-color($v-window-background-color, .5);
    }

  }
  
}
